@font-face {
    font-family: "SF Pro Display";
    src: url("../fonts/SFProDisplay/SF-Pro-Display-Medium.otf") format("truetype");
}

@font-face {
    font-family: "Barlow";
    src: url("../fonts/Barlow/Barlow-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova/proximanova_regular.ttf") format("truetype");
}

@font-face {
    font-family: "Staatliches";
    src: url("../fonts/Staatliches/Staatliches-Regular.ttf") format("truetype");
}